* {
  backdrop-filter: blur(2.5px) grayscale(33%) saturate(90%) opacity(100%);
}

body {
  background-image: url('../img/matrix.jpg');
  background-size: auto 100vh; 
  font-family: Arial;
  height: 657px;
  margin: 0px;
  box-sizing: content-box;
}

.menu {
  background-color: white;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none; 
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle, 
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-subtitle {
  font-style: italic;
}
